---
http_interactions:
  - request:
      method: post
      uri: https://slack.com/api/views.open
      body:
        encoding: UTF-8
        string:
          '{"trigger_id":"trigger","view":"{\"type\":\"modal\",\"callback_id\":\"modal-profile\",\"title\":{\"type\":\"plain_text\",\"text\":\"Pas
          de profil ...\"},\"blocks\":[{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"Oups,
          on dirait que je n''ai pas accès au profil de ce membre :tired_face:\"}},{\"type\":\"image\",\"image_url\":\"https://gifimage.net/wp-content/uploads/2017/12/jhon-travolta-gif-1.gif\",\"alt_text\":\"Confused
          Travolta\"}]}"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <<<SLACK_BOT_TOKEN>>>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Oauth-Scopes:
          - identify,bot:basic
        X-Slack-Req-Id:
          - 309a766b4a36acf9faa8d815427ac6c9
        X-Via:
          - haproxy-www-b5x4
      body:
        encoding: ASCII-8BIT
        string: '{"ok": true}'
    recorded_at: Thu, 05 Dec 2019 20:09:43 GMT
recorded_with: VCR 5.0.0
