---
http_interactions:
  - request:
      method: post
      uri: https://slack.com/api/views.open
      body:
        encoding: UTF-8
        string:
          '{"trigger_id":"trigger","view":"{\"type\":\"modal\",\"callback_id\":\"modal-profile\",\"title\":{\"type\":\"plain_text\",\"text\":\"Foo
          Foo\"},\"blocks\":[{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:grinning:   Qui
          suis-je ?*\"},\"accessory\":{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Voir
          sur le Refuge\"},\"url\":\"https://refuge.la-cordee.net/users/42\"}},{\"type\":\"divider\"},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"lorem
          ipsum\"},\"accessory\":{\"type\":\"image\",\"image_url\":\"http://refuge.la-cordee.net/avatar.jpg\",\"alt_text\":\"Photo
          de profil\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"\\n\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:handshake:   Services*\"}},{\"type\":\"divider\"},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"lorem
          ipsum\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"\\n\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:open_file_folder:   Références*\"}},{\"type\":\"divider\"},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"lorem
          ipsum\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"\\n\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:game_die:   Hobbies*\"}},{\"type\":\"divider\"},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"lorem
          ipsum\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"\\n\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:zap:   Super
          pouvoirs*\"}},{\"type\":\"divider\"},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"lorem
          ipsum\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"\\n\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*:star-struck:   Mes
          centres d''intérêt*\"}},{\"type\":\"divider\"},{\"type\":\"section\",\"fields\":[{\"type\":\"plain_text\",\"text\":\"-
          cuisine\",\"emoji\":true}]},{\"type\":\"divider\"},{\"type\":\"context\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"A
          rejoint la Cordée le 05 December 2019\"}]},{\"type\":\"context\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\":house_with_garden:
          Nantes\"}]}]}"}'
      headers:
        Content-Type:
          - application/json
        Authorization:
          - Bearer <<<SLACK_BOT_TOKEN>>>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Oauth-Scopes:
          - identify,bot:basic
        X-Slack-Req-Id:
          - c81f507d9f0d463dd4726ea6710f4db6
        X-Via:
          - haproxy-www-1pnc
      body:
        encoding: ASCII-8BIT
        string: '{"ok": true}'
    recorded_at: Thu, 05 Dec 2019 20:16:33 GMT
recorded_with: VCR 5.0.0
