---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/views.publish
    body:
      encoding: UTF-8
      string: '{"user_id":"U4SPRR1J8","view":"{\"type\":\"home\",\"blocks\":[{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"Bonjour
        *Foo* ! :smile:\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"\\n\"}}]}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <<<SLACK_BOT_TOKEN>>>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - identify,bot:basic
      X-Slack-Req-Id:
      - cc38a4d93785aa3b8e7cac1235ac1370
      X-Via:
      - haproxy-www-e35c
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"view":{"id":"VQZGURQKE","team_id":"T3LLM537U","app_id":"AQVJR60R4","app_installed_team_id":"T3LLM537U","bot_id":"BQLR32QAW","type":"home","blocks":[{"type":"section","block_id":"pZ2n","text":{"type":"mrkdwn","text":"Bonjour
        *Foo* ! :smile:","verbatim":false}},{"type":"section","block_id":"AH=Z","text":{"type":"mrkdwn","text":"\n","verbatim":false}}],"state":{"values":{}},"hash":"1574850221.ab0c7ada","private_metadata":"","callback_id":"","root_view_id":"VQZGURQKE","external_id":"","title":{"type":"plain_text","text":"View
        Title","emoji":true},"close":null,"submit":null,"previous_view_id":null,"clear_on_close":false,"notify_on_close":false},"warning":"missing_charset","response_metadata":{"warnings":["missing_charset"]}}'
  recorded_at: Wed, 27 Nov 2019 10:23:41 GMT
recorded_with: VCR 5.0.0
