---
http_interactions:
- request:
    method: post
    uri: https://refuge.la-cordee.net/users/search
    body:
      encoding: UTF-8
      string: '{"city_id":"8","limit":1000}'
    headers:
      Content-Type:
      - application/json
      X-Csrf-Token:
      - "<<<REFUGE_CSRF>>>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":"Tu dois te connecter ou t''inscrire pour continuer."}'
  recorded_at: Mon, 25 Nov 2019 07:03:57 GMT
recorded_with: VCR 5.0.0
